.czi-editor-frameset .molcmt-commentdiv {
  background: white;
  border: 1px solid grey;
  height: 575px;
  position: absolute;
  top: 20px;
  width: 213px;
}

.czi-editor-frameset .molcmt-problem {
  background: #fdd;
  border-bottom: 1px solid #aed0e6;
  margin-bottom: -1px;
}
